<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Ajustes de inventario</h1>
      </div>
      <!-- /.col -->

      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Ver ajuste</h4>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col">
            <p>Id: {{ movimiento.id }}</p>

            <p>
              Costo Neto:
              {{
                movimiento.costo_neto
                  | currency : "CLP" : "symbol-narrow" : "1.0-0"
              }}
            </p>
            <p>
              Costo Imp:
              {{
                movimiento.costo_imp
                  | currency : "CLP" : "symbol-narrow" : "1.0-0"
              }}
            </p>
            <p>
              Costo Total:
              {{
                movimiento.costo_neto + movimiento.costo_imp
                  | currency : "CLP" : "symbol-narrow" : "1.0-0"
              }}
            </p>
          </div>
          <div class="col">
            <p>observaciones: {{ movimiento.observaciones }}</p>
            <p>
              Fecha:
              {{ movimiento.created_at || date | date : "dd/MM/yyyy HH:mm" }}
            </p>
            <p>Entradas {{ movimiento.entradas }}</p>
            <p>Salidas {{ movimiento.salidas }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Ver detalle</h4>
      </div>

      <div class="card-body">
        <table
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          class="row-border hover"
        >
          <thead class="table-light">
            <tr>
              <th>Codigo</th>
              <th>Articulo</th>
              <th>IN</th>
              <th>OUT</th>
              <th>Costo total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of articulos">
              <td>{{ item.cod_interno }}</td>
              <td>{{ item.descripcion }}</td>
              <td>{{ item.entradas }}</td>
              <td>{{ item.salidas }}</td>
              <td>
                {{
                  (item.costo_neto + item.costo_imp) *
                    (item.entradas + item.salidas)
                    | currency : "CLP" : "symbol-narrow" : "1.0-0"
                }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
