<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Ajustes de inventario</h1>
      </div>
      <!-- /.col -->

      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Ver ajuste</h4>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col" *ngIf="movimiento !== undefined">
            <p>Id: {{ movimiento.id }}</p>

            <p>Costo Neto: ${{ movimiento.costo_neto | number }}</p>
            <p>
              Costo Imp: $
              {{ movimiento.costo_imp | number: "1.0-0" }}
            </p>
            <p>
              Costo Total: $
              {{
                movimiento.costo_neto + movimiento.costo_imp | number: "1.0-0"
              }}
            </p>
          </div>
          <div class="col">
            <p>observaciones: {{ movimiento.observaciones }}</p>
            <p>
              Fecha:
              {{ movimiento.created_at || date | date: "dd/MM/yyyy HH:mm" }}
            </p>
            <p>Entradas {{ movimiento.entradas }}</p>
            <p>Salidas {{ movimiento.salidas }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Ver detalle</h4>
      </div>

      <div class="card-body">
        <app-simple-table
          [data]="articulos"
          [columns]="columns"
          [pageSize]="10"
          [showSearch]="true"
          [showPagination]="true"
          [emptyMessage]="'No hay artículos disponibles'"
        ></app-simple-table>
      </div>
    </div>
  </div>
</section>
