<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Clientes</h1>
      </div>
    </div>
  </div>
</div>
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Listado de entidades</h4>
      </div>

      <div class="card-body">
        <div class="row mb-3">
          <div class="col-9">
            <a [routerLink]="['create']" class="btn btn-primary"
              >Agregar entidad</a
            >
          </div>
          <div class="col-2">
            <input
              type="text"
              class="form-control"
              placeholder="Buscar"
              [(ngModel)]="searchTerm"
              (keyup.enter)="search()"
            />
          </div>
          <div class="col-1">
            <button class="btn btn-primary" (click)="search()">Buscar</button>
          </div>
        </div>

        <app-simple-table
          [data]="entidades"
          [columns]="columns"
          [serverSide]="true"
          [totalRecords]="totalRecords"
          [loading]="loading"
          [showSearch]="false"
          [showViewButton]="true"
          [showEditButton]="true"
          [showDeleteButton]="false"
          (dataRequest)="onDataRequest($event)"
          (onView)="onView($event)"
          (onEdit)="onEdit($event)"
        ></app-simple-table>
      </div>
    </div>
  </div>
</section>
