<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Compras</h1>
      </div>
      <!-- /.col -->

      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Listado de compras</h4>
      </div>

      <div class="card-body">
        <div class="row">
          <form [formGroup]="dateForm" (ngSubmit)="submit()" class="row">
            <select
              class="form-control mb-0 text-gray-800"
              style="width: 150px; margin-left: 25px"
              formControlName="month"
            >
              <option value="1">Enero</option>
              <option value="2">Febrero</option>
              <option value="3">Marzo</option>
              <option value="4">Abril</option>
              <option value="5">Mayo</option>
              <option value="6">Junio</option>
              <option value="7">Julio</option>
              <option value="8">Agosto</option>
              <option value="9">Septiembre</option>
              <option value="10">Octubre</option>
              <option value="11">Noviembre</option>
              <option value="12">Diciembre</option>
            </select>
            <select
              class="form-control mb-0 text-gray-800"
              style="width: 100px; margin-left: 25px"
              formControlName="year"
            >
              <option value="{{ year }}" *ngFor="let year of yearList">
                {{ year }}
              </option>
            </select>
            <div style="padding-left: 20px">
              <button type="submit" class="btn btn-success">
                Obtener datos <i class="fas fa-retweet"></i>
              </button>
            </div>
          </form>
          <div style="padding-left: 20px">
            <button (click)="abrirCrearCompra()" class="btn btn-primary">
              <i class="fas fa-plus"></i> Registrar compra
            </button>
          </div>
        </div>
        <div class="mt-4">
          <app-simple-table
            [data]="compras"
            [columns]="columns"
            [pageSize]="10"
            [showSearch]="true"
            [showPagination]="true"
            [showActions]="true"
            [showViewButton]="false"
            [showEditButton]="true"
            [showDeleteButton]="false"
            [emptyMessage]="'No hay compras en el período seleccionado'"
            (onEdit)="editCompra($event)"
          ></app-simple-table>
        </div>
      </div>
    </div>
  </div>
</section>
<app-editar-compra [show]="showModal" [compra]="compra"></app-editar-compra>
<app-crear-compra
  [show]="showModalCrear"
  (onClose)="onCloseCrear($event)"
></app-crear-compra>
