<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Articulos</h1>
      </div>
      <!-- /.col -->

      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Listado de compras</h4>
      </div>

      <div class="card-body">
        <div class="row">
          <form [formGroup]="dateForm" (ngSubmit)="submit()" class="row">
            <select
              class="form-control mb-0 text-gray-800"
              style="width: 150px; margin-left: 25px"
              formControlName="month"
            >
              <option value="01">Enero</option>
              <option value="02">Febrero</option>
              <option value="03">Marzo</option>
              <option value="04">Abril</option>
              <option value="05">Mayo</option>
              <option value="06">Junio</option>
              <option value="07">Julio</option>
              <option value="08">Agosto</option>
              <option value="09">Septiembre</option>
              <option value="10">Octubre</option>
              <option value="11">Noviembre</option>
              <option value="12">Diciembre</option>
            </select>
            <select
              class="form-control mb-0 text-gray-800"
              style="width: 100px; margin-left: 25px"
              formControlName="year"
            >
              <option value="2023" selected>2023</option>
              <option value="2024">2024</option>
            </select>
            <div style="padding-left: 20px">
              <button type="submit" class="btn btn-success">
                Obtener datos <i class="fas fa-retweet"></i>
              </button>
            </div>
          </form>
          <div style="padding-left: 20px">
            <button (click)="getDataFromApi()" class="btn btn-success">
              Obtener datos desde API <i class="fas fa-retweet"></i>
            </button>
          </div>
          <div style="padding-left: 20px">
            <button class="btn btn-success" (click)="importFile()">
              Importar datos <i class="fas fa-upload"></i>
            </button>
          </div>
        </div>
        <table
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          class="row-border hover"
          aria-label="Tabla"
        >
          <thead class="table-light">
            <tr>
              <th>Id</th>
              <th>Proveedor</th>
              <th>Documento</th>
              <th>Fecha</th>
              <th>Monto</th>
              <th>Costo</th>
              <th>Tipo</th>
              <th>Observaciones</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of compras">
              <td>{{ item.id }}</td>
              <td>{{ item.nombre }} ({{ item.proveedor }})</td>
              <td>{{ item.tipo }} - {{ item.documento }}</td>
              <td [attr.data-order]="item.fecha_documento">
                {{ item.fecha_documento | date : "dd/MM/yyyy" : "UTC" }}
              </td>
              <td>
                ${{
                  item.monto_neto_documento + item.monto_imp_documento
                    | currency : "CLP" : "" : "1.0-0"
                }}
              </td>
              <td>
                ${{
                  item.costo_neto_documento + item.costo_imp_documento
                    | currency : "CLP" : "" : "1.0-0"
                }}
              </td>

              <td>
                {{ item.tipo_compra_name }}
              </td>

              <td>{{ item.observaciones }}</td>

              <td>
                <a (click)="editCompra(item)" class="me-1 text-success pointer">
                  <i class="fas fa-edit"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<app-editarCompra [show]="showModal" [compra]="compra"></app-editarCompra>
<app-importFileCompra [show]="showModalImport"> </app-importFileCompra>
