<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Reporte mensual - tipos de datos</h1>
      </div>
      <!-- /.col -->

      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Tipos de datos</h4>
      </div>

      <div class="card-body">
        <div style="padding-left: 20px; margin-bottom: 15px">
          <button class="btn btn-success" (click)="showModalCreate()">
            Agregar tipo de dato <i class="fas fa-retweet"></i>
          </button>
        </div>

        <!-- Nueva tabla Angular pura - sin jQuery/DataTables -->
        <app-simple-table
          [data]="tiposDatos"
          [columns]="tableColumns"
          [showViewButton]="false"
          [showEditButton]="true"
          [showDeleteButton]="false"
          [pageSize]="10"
          (onEdit)="showModalEdit($event)"
        ></app-simple-table>
      </div>
    </div>
  </div>
</section>
<app-tipo-de-datos-form
  [show]="showModal"
  [tipoDato]="tipoDato"
></app-tipo-de-datos-form>
