<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Articulos</h1>
      </div>
      <!-- /.col -->

      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{{ title }}</h4>
      </div>

      <div class="card-body">
        <form
          [formGroup]="productForm"
          (submit)="onSubmit()"
          method="post"
          action=""
        >
          <div class="form-group col-lg-4">
            <label for="name">Codigo interno</label>
            <input
              type="text"
              [ngClass]="isValidField('internalCode') ? 'is-invalid' : ''"
              class="form-control"
              id="internalCode"
              name="internalCode"
              placeholder="Codigo interno"
              formControlName="internalCode"
              required
            />
            <div *ngIf="isValidField('internalCode')" class="invalid-feedback">
              El codigo interno es requerido
            </div>
          </div>

          <div class="form-group col-lg-4">
            <label for="name">Codigo de barras</label>
            <input
              type="text"
              class="form-control"
              id="barCode"
              name="barCode"
              maxlength="13"
              placeholder="Codigo de barras"
              formControlName="barCode"
            />
          </div>

          <div class="form-group col-lg-4">
            <label for="name">Descripcion</label>
            <input
              formControlName="description"
              type="text"
              [ngClass]="isValidField('description') ? 'is-invalid' : ''"
              class="form-control"
              id="description"
              name="description"
              placeholder="Descripcion"
              required
            />
            <div *ngIf="isValidField('description')" class="invalid-feedback">
              Ingresa una descripcion
            </div>
          </div>
          <div class="form-group row" style="padding-left: 10px">
            <div class="form-group col-lg-1 col-sm-4">
              <label for="name">Costo neto</label>
              <input
                formControlName="netCost"
                min="1"
                [ngClass]="isValidField('netCost') ? 'is-invalid' : ''"
                type="number"
                class="form-control"
                id="netCost"
                name="netCost"
                placeholder="Costo neto"
                required
                ((keyup))="updateCostoTotal()"
                (change)="updateCostoTotal()"
              />
              <div *ngIf="isValidField('netCost')" class="invalid-feedback">
                Ingresa costo neto
              </div>
            </div>
            <div class="form-group col-lg-1 col-sm-4">
              <label for="name">Costo IMP</label>
              <input
                formControlName="taxCost"
                readonly
                type="number"
                class="form-control"
                id="taxCost"
                name="taxCost"
                placeholder="Costo imp"
                required
              />
            </div>
            <div class="form-group col-lg-1 col-sm-4">
              <label for="name">Costo total</label>
              <input
                formControlName="costo_total"
                [ngClass]="isValidField('costo_total') ? 'is-invalid' : ''"
                type="number"
                class="form-control"
                id="costo_total"
                name="costo_total"
                placeholder="Costo total"
                required
                (change)="updateCostoNeto()"
              />
              <div *ngIf="isValidField('costo_total')" class="invalid-feedback">
                Ingresa costo total
              </div>
            </div>
          </div>
          <div class="form-group row" style="padding-left: 10px">
            <div class="form-group col-lg-1 col-sm-4">
              <label for="name">Venta neto</label>
              <input
                formControlName="netSale"
                [ngClass]="isValidField('netSale') ? 'is-invalid' : ''"
                type="number"
                class="form-control"
                id="netSale"
                name="netSale"
                placeholder="Venta neto"
                required
                ((keyup))="updateVentaTotal()"
                (change)="updateVentaTotal()"
              />
              <div *ngIf="isValidField('netSale')" class="invalid-feedback">
                Ingresa venta neto
              </div>
            </div>
            <div class="form-group col-lg-1 col-sm-4">
              <label for="name">Venta IMP</label>
              <input
                formControlName="taxSale"
                readonly
                type="number"
                class="form-control"
                id="taxSale"
                name="taxSale"
                placeholder="Venta imp"
                required
              />
            </div>
            <div class="form-group col-lg-1 col-sm-4">
              <label for="name">Venta total</label>
              <input
                formControlName="venta_total"
                [ngClass]="isValidField('venta_total') ? 'is-invalid' : ''"
                type="number"
                class="form-control"
                id="venta_total"
                name="venta_total"
                placeholder="Venta total"
                required
                (change)="updateVentaNeto()"
              />
              <div *ngIf="isValidField('venta_total')" class="invalid-feedback">
                Ingresa venta total
              </div>
            </div>
          </div>
          <div class="form-group col-lg-2 col-sm-6">
            <label for="name">Stock critico</label>
            <input
              formControlName="stockMin"
              [ngClass]="isValidField('stockMin') ? 'is-invalid' : ''"
              type="number"
              class="form-control"
              id="stockMin"
              min="1"
              name="stockMin"
              placeholder="Stock critico"
              required
            />
            <div *ngIf="isValidField('stockMin')" class="invalid-feedback">
              Ingresa stock critico
            </div>
          </div>
          <div class="form-group col-lg-2 col-sm-6">
            <label for="name">Activo</label>
            <select
              formControlName="active"
              [ngClass]="isValidField('active') ? 'is-invalid' : ''"
              class="form-control"
              id="active"
              name="active"
              required
            >
              <option value="1">Si</option>
              <option value="0">No</option>
            </select>
          </div>
          <div class="form-group col-lg-2 col-sm-6">
            <label for="name">Publicado</label>
            <select
              formControlName="publicado"
              [ngClass]="isValidField('publicado') ? 'is-invalid' : ''"
              class="form-control"
              id="publicado"
              name="publicado"
              required
            >
              <option value="1">Si</option>
              <option value="0">No</option>
            </select>
          </div>
          <div class="form-group col-lg-2 col-sm-6">
            <label for="name">Enlace MercadoLibre</label>
            <input
              formControlName="enlace_ml"
              [ngClass]="isValidField('enlace_ml') ? 'is-invalid' : ''"
              type="text"
              class="form-control"
              id="enlace_ml"
              min="1"
              name="enlace_ml"
              placeholder="Enlace MercadoLibre"
            />
            <div *ngIf="isValidField('enlace_ml')" class="invalid-feedback">
              Ingresa enlace de la publicacion
            </div>
          </div>
          <div class="form-group col-lg-4">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
