<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Articulos</h1>
      </div>
      <!-- /.col -->

      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{{ title }}</h4>
      </div>

      <div class="card-body">
        <form
          [formGroup]="productForm"
          (submit)="onSubmit()"
          method="post"
          action=""
        >
          <div class="form-group col-lg-4">
            <label for="name">Codigo interno</label>
            <input
              type="text"
              [ngClass]="isValidField('cod_interno') ? 'is-invalid' : ''"
              class="form-control"
              id="cod_interno"
              name="cod_interno"
              placeholder="Codigo interno"
              formControlName="cod_interno"
              required
            />
            <div *ngIf="isValidField('cod_interno')" class="invalid-feedback">
              El codigo interno es requerido
            </div>
          </div>

          <div class="form-group col-lg-4">
            <label for="name">Codigo de barras</label>
            <input
              type="text"
              [ngClass]="isValidField('cod_barras') ? 'is-invalid' : ''"
              class="form-control"
              id="cod_barras"
              name="cod_barras"
              placeholder="Codigo de barras"
              formControlName="cod_barras"
              required
            />
            <div *ngIf="isValidField('cod_barras')" class="invalid-feedback">
              El codigo de barras es requerido
            </div>
          </div>

          <div class="form-group col-lg-4">
            <label for="name">Descripcion</label>
            <input
              formControlName="descripcion"
              type="text"
              [ngClass]="isValidField('descripcion') ? 'is-invalid' : ''"
              class="form-control"
              id="descripcion"
              name="descripcion"
              placeholder="Descripcion"
              required
            />
            <div *ngIf="isValidField('descripcion')" class="invalid-feedback">
              Ingresa una descripcion
            </div>
          </div>
          <div class="form-group row">
            <div class="form-group col-lg-1 col-sm-4">
              <label for="name">Costo neto</label>
              <input
                formControlName="costo_neto"
                min="1"
                [ngClass]="isValidField('costo_neto') ? 'is-invalid' : ''"
                type="number"
                class="form-control"
                id="costo_neto"
                name="costo_neto"
                placeholder="Costo neto"
                required
                ((keyup))="updateCostoTotal()"
                (change)="updateCostoTotal()"
              />
              <div *ngIf="isValidField('costo_neto')" class="invalid-feedback">
                Ingresa costo neto
              </div>
            </div>
            <div class="form-group col-lg-1 col-sm-4">
              <label for="name">Costo IMP</label>
              <input
                formControlName="costo_imp"
                readonly
                type="number"
                class="form-control"
                id="costo_imp"
                name="costo_imp"
                placeholder="Costo imp"
                required
              />
            </div>
            <div class="form-group col-lg-1 col-sm-4">
              <label for="name">Costo total</label>
              <input
                formControlName="costo_total"
                [ngClass]="isValidField('costo_total') ? 'is-invalid' : ''"
                type="number"
                class="form-control"
                id="costo_total"
                name="costo_total"
                placeholder="Costo total"
                required
                (change)="updateCostoNeto()"
              />
              <div *ngIf="isValidField('costo_total')" class="invalid-feedback">
                Ingresa costo total
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="form-group col-lg-1 col-sm-4">
              <label for="name">Venta neto</label>
              <input
                formControlName="venta_neto"
                [ngClass]="isValidField('venta_neto') ? 'is-invalid' : ''"
                type="number"
                class="form-control"
                id="venta_neto"
                name="venta_neto"
                placeholder="Venta neto"
                required
                ((keyup))="updateVentaTotal()"
                (change)="updateVentaTotal()"
              />
              <div *ngIf="isValidField('venta_neto')" class="invalid-feedback">
                Ingresa venta neto
              </div>
            </div>
            <div class="form-group col-lg-1 col-sm-4">
              <label for="name">Venta IMP</label>
              <input
                formControlName="venta_imp"
                readonly
                type="number"
                class="form-control"
                id="venta_imp"
                name="venta_imp"
                placeholder="Venta imp"
                required
              />
            </div>
            <div class="form-group col-lg-1 col-sm-4">
              <label for="name">Venta total</label>
              <input
                formControlName="venta_total"
                [ngClass]="isValidField('venta_total') ? 'is-invalid' : ''"
                type="number"
                class="form-control"
                id="venta_total"
                name="venta_total"
                placeholder="Venta total"
                required
                (change)="updateVentaNeto()"
              />
              <div *ngIf="isValidField('venta_total')" class="invalid-feedback">
                Ingresa venta total
              </div>
            </div>
          </div>
          <div class="form-group col-lg-2 col-sm-6">
            <label for="name">Stock critico</label>
            <input
              formControlName="stock_critico"
              [ngClass]="isValidField('stock_critico') ? 'is-invalid' : ''"
              type="number"
              class="form-control"
              id="stock_critico"
              min="1"
              name="stock_critico"
              placeholder="Stock critico"
              required
            />
            <div *ngIf="isValidField('stock_critico')" class="invalid-feedback">
              Ingresa stock critico
            </div>
          </div>
          <div class="form-group col-lg-2 col-sm-6">
            <label for="name">Activo</label>
            <select
              formControlName="activo"
              [ngClass]="isValidField('activo') ? 'is-invalid' : ''"
              class="form-control"
              id="activo"
              name="activo"
              required
            >
              <option value="1">Si</option>
              <option value="0">No</option>
            </select>
          </div>
          <div class="form-group col-lg-4">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
