<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Usuarios</h1>
      </div>
      <!-- /.col -->

      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Crear usuario</h4>
      </div>

      <div class="card-body">
        <form
          [formGroup]="newUserForm"
          (submit)="onSubmit()"
          method="post"
          action=""
        >
          <div class="form-group col-lg-4">
            <label for="name">Usuario</label>
            <input
              type="text"
              [ngClass]="isValidField('userName') ? 'is-invalid' : ''"
              class="form-control"
              id="userName"
              name="userName"
              placeholder="usuario"
              formControlName="userName"
              required
            />
            <div *ngIf="isValidField('userName')" class="invalid-feedback">
              Ingresa un usuario
            </div>
          </div>

          <div class="form-group col-lg-4">
            <label for="name">Nombre</label>
            <input
              type="text"
              [ngClass]="isValidField('name') ? 'is-invalid' : ''"
              class="form-control"
              id="name"
              name="name"
              placeholder="Nombre"
              formControlName="name"
              required
            />
          </div>

          <div class="form-group col-lg-4">
            <label for="name">Mail</label>
            <input
              formControlName="email"
              type="email"
              [ngClass]="isValidField('email') ? 'is-invalid' : ''"
              class="form-control"
              id="email"
              name="email"
              placeholder="e-mail"
              required
            />
          </div>
          <div class="form-group col-lg-4">
            <label for="name">Contraseña</label>
            <input
              formControlName="password"
              [ngClass]="isValidField('password') ? 'is-invalid' : ''"
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Contraseña"
              required
            />
            <div *ngIf="validatePassword()" class="invalid-feedback">
              Las contraseñas no coinciden
            </div>
          </div>
          <div class="form-group col-lg-4">
            <label for="name">Confirmar contraseña</label>
            <input
              formControlName="password_confirmation"
              [ngClass]="
                isValidField('password_confirmation') ? 'is-invalid' : ''
              "
              [ngClass]="validatePassword() ? 'is-invalid' : ''"
              type="password"
              class="form-control"
              id="password_confirmation"
              name="password_confirmation"
              placeholder="Confirmar contraseña"
              required
            />
            <div
              *ngIf="isValidField('password_confirmation')"
              class="invalid-feedback"
            >
              Ingresa una contraseña
            </div>
            <div *ngIf="validatePassword()" class="invalid-feedback">
              Las contraseñas no coinciden
            </div>
            <div *ngIf="!validatePassword()" class="valid-feedback">
              Las contraseñas no coinciden
            </div>
          </div>
          <div class="form-group col-lg-4">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
