<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Articulos</h1>
      </div>
    </div>
  </div>
</div>
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Listado de articulos</h4>
      </div>

      <div class="card-body">
        <div class="row mb-3">
          <div class="col-9">
            <div class="row align-items-center">
              <a [routerLink]="['create']" class="btn btn-primary"
                >Agregar articulo</a
              >

              <div class="ml-3">
                <label for="active">Activos</label>
                <input
                  type="checkbox"
                  id="active"
                  class="ml-1"
                  [checked]="active"
                  (change)="changeActive()"
                />
              </div>

              <div class="ml-3">
                <label for="stock">Con stock</label>
                <input
                  type="checkbox"
                  id="stock"
                  class="ml-1"
                  [checked]="stock"
                  (change)="changeStock()"
                />
              </div>

              <div class="ml-3">
                <label for="deprecated">Solo vigentes</label>
                <input
                  type="checkbox"
                  id="deprecated"
                  class="ml-1"
                  [checked]="!includeDeprecated"
                  (change)="changeDeprecated()"
                />
              </div>
            </div>
          </div>
          <div class="col-2">
            <input
              type="text"
              class="form-control"
              placeholder="Buscar"
              [(ngModel)]="searchTerm"
              (keyup.enter)="search()"
            />
          </div>
          <div class="col-1">
            <button class="btn btn-primary" (click)="search()">Buscar</button>
          </div>
        </div>

        <app-simple-table
          [data]="products"
          [columns]="columns"
          [serverSide]="true"
          [totalRecords]="totalRecords"
          [loading]="loading"
          [showSearch]="false"
          [showViewButton]="true"
          [showEditButton]="true"
          [showDeleteButton]="false"
          [rowLink]="rowLink"
          (dataRequest)="onDataRequest($event)"
          (onView)="onView($event)"
          (onEdit)="onEdit($event)"
        ></app-simple-table>
      </div>
    </div>
  </div>
</section>
