<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Articulos</h1>
      </div>
      <!-- /.col -->

      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Listado de articulos</h4>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-9">
            <div class="row">
              <a [routerLink]="['create']" class="btn btn-primary"
                >Agregar articulo</a
              >

              <div class="ml-3">
                <label for="search">Activos</label>
                <input
                  type="checkbox"
                  name=""
                  id=""
                  class="ml-1"
                  [checked]="active"
                  (change)="changeActive()"
                />
              </div>

              <div class="ml-3">
                <label for="search">Con stock</label>
                <input
                  type="checkbox"
                  name=""
                  class="ml-1"
                  id=""
                  [checked]="stock"
                  (change)="changeStock()"
                />
              </div>
            </div>
          </div>
          <div class="col-2">
            <div>
              <input
                type="text"
                class="form-control"
                placeholder="Buscar"
                [(ngModel)]="searchTerm"
                (keyup)="search()"
              />
            </div>
          </div>
          <div class="col-1 me-3">
            <button
              class="btn btn-primary"
              [disabled]="!searchTerm"
              (click)="search()"
            >
              Buscar
            </button>
          </div>
        </div>
        <table
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          class="row-border hover"
          aria-label="Tabla"
        >
          <thead class="table-light">
            <tr>
              <th class="custom-width">Id</th>
              <th>Interno</th>
              <th>Barra</th>
              <th>Descripcion</th>
              <th class="custom-width">Stock</th>
              <th class="custom-width">Costo</th>
              <th class="custom-width">PVP</th>
              <th class="custom-width">Activo</th>
              <th class="custom-width">Publicado</th>
              <th class="custom-width">Acciones</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</section>
