<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Recepciones de mercaderia</h1>
      </div>
      <!-- /.col -->

      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Listado de recepciones</h4>
      </div>

      <div class="card-body">
        <a [routerLink]="['agregar']" class="btn btn-primary"
          >Agregar recepcion</a
        >
        <br />

        <table
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          class="row-border hover"
          aria-label="Tabla"
        >
          <thead class="table-light">
            <tr>
              <th>Id</th>
              <th>Proveedor</th>
              <th>Documento</th>
              <th>Unidades</th>
              <th>Total</th>
              <th>Fecha</th>
              <th>Ver</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of recepciones">
              <td>{{ item.id }}</td>
              <td>{{ item.proveedor }} - {{ item.nombre }}</td>
              <td>{{ item.tipo }} - {{ item.documento }}</td>
              <td>{{ item.unidades }}</td>
              <td [attr.data-order]="item.costo_neto + item.costo_imp">
                {{
                  item.costo_neto + item.costo_imp
                    | currency : "CLP" : "symbol-narrow" : "1.0-0"
                }}
              </td>
              <td>{{ item.fecha | date : "dd/MM/yyyy" }}</td>

              <td>
                <a
                  routerLink="ver/{{ item.id }}"
                  class="me-1 text-warning pointer"
                >
                  <i class="fas fa-eye"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
