<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/home" class="brand-link">
    <span class="brand-text font-weight-light">
      <b>SIVIG</b>
    </span>
  </a>
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- SidebarSearch Form -->

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a
            [routerLink]="['ventas']"
            [routerLinkActive]="['active']"
            [class.active]="isActive('ventas')"
            class="nav-link"
          >
            <i class="nav-icon fas fa-file-invoice-dollar"></i>
            <p>Ventas</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['articulos']"
            [routerLinkActive]="['active']"
            class="nav-link"
          >
            <i class="fas fa-warehouse nav-icon"></i>
            <p>Articulos</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['recepciones']"
            [routerLinkActive]="['recepciones']"
            [class.active]="isActive('recepciones')"
            class="nav-link"
          >
            <i class="nav-icon fas fa-boxes"></i>
            <p>Recepciones</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['ajustes']"
            [routerLinkActive]="['active']"
            [class.active]="isActive('ajustes')"
            class="nav-link"
          >
            <i class="fas fa-clipboard-list nav-icon"></i>
            <p>Ajustes de Inventario</p>
          </a>
        </li>

        <li class="nav-item">
          <a
            [routerLink]="['entidades']"
            [routerLinkActive]="['active']"
            class="nav-link"
          >
            <i class="nav-icon fas fa-user"></i>
            <p>Entidades</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['compras']"
            [routerLinkActive]="['compras']"
            [class.active]="isActive('compras')"
            class="nav-link"
          >
            <i class="nav-icon fas fa-file-invoice-dollar"></i>
            <p>Compras</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['configuracion', 'issues']"
            [routerLinkActive]="['active']"
            class="nav-link"
          >
            <i class="fas fa-bug nav-icon"></i>
            <p>Issues</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
