<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a>SIVIG</a>
      </div>
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Inicia sesion</p>

          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="input-group mb-3">
              <input
                type="email"
                class="form-control"
                placeholder="Usuario"
                formControlName="user"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <span *ngIf="isValid('user')" class="alert-textfadeIn">
              * Ingrese su usuario
            </span>
            <div class="input-group mb-3">
              <input
                type="password"
                class="form-control"
                placeholder="Contraseña"
                formControlName="password"
                autocomplete="on"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <span *ngIf="isValid('password')" class="alert-textfadeIn">
              * Ingrese su contraseña
            </span>
            <div class="row">
              <!-- /.col -->
              <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">
                  Ingresar
                </button>
              </div>
              <!-- /.col -->
            </div>
          </form>
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
  </body>
</html>
