<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">HydroControl</h1>
      </div>
      <!-- /.col -->

      <!-- /.col -->
    </div>
    <div class="row mb-2">
      <div class="col-sm-6">
        <p>Tiempo para recargar {{ minutes }}:{{ seconds }}</p>
      </div>
      <!-- /.col -->

      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<section class="content">
  <div class="container-fluid">
    <div class="card collapsed-card">
      <div class="card-header">
        <h4 class="card-title">grafico</h4>
        <div class="card-tools">
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="collapse"
          >
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>

      <div class="card-body">
        <canvas id="MyChart">{{ chart }}</canvas>
      </div>
    </div>
    <div class="card collapsed-card">
      <div class="card-header">
        <h4 class="card-title">Datos</h4>
        <div class="card-tools">
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="collapse"
          >
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-2 col-md-4 col-xl-2">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ maxTempA | number : "1.0-1" }}°C</h3>
                <h4>{{ timeMaxTempA }}</h4>

                <p>temperatura maxima del agua</p>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-xl-2">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ minTempA | number : "1.0-1" }}°C</h3>
                <h4>{{ timeMinTempA }}</h4>

                <p>temperatura minima del agua</p>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-xl-2">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ maxTempE | number : "1.0-1" }}°C</h3>
                <h4>{{ timeMaxTempE }}</h4>

                <p>temperatura maxima del ambiente</p>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-xl-2">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ minTempE | number : "1.0-1" }}°C</h3>
                <h4>{{ timeMinTempE }}</h4>

                <p>temperatura minima del ambiente</p>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-xl-2">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ maxTempI | number : "1.0-1" }}°C</h3>
                <h4>{{ timeMaxTempI }}</h4>

                <p>temperatura maxima del interior</p>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-xl-2">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ minTempI | number : "1.0-1" }}°C</h3>
                <h4>{{ timeMinTempI }}</h4>

                <p>temperatura minima del interior</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Datos</h4>
        <div class="card-tools">
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="collapse"
          >
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <table
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          class="row-border hover"
          aria-label="Tabla"
        >
          <thead>
            <tr>
              <th colspan="2">Hora</th>
              <th rowspan="2">N°</th>
              <th rowspan="2">Agua</th>
              <th colspan="2">Ambiente</th>
              <th colspan="2">Interior</th>
              <th colspan="2">Reles</th>
              <th rowspan="2">TimeStamp</th>
              <th rowspan="2"><i class="fas fa-trash pointer"></i></th>
            </tr>
            <tr>
              <th>Dia</th>
              <th>Hora</th>
              <th>T</th>
              <th>H</th>
              <th>T</th>
              <th>H</th>
              <th>Luz</th>
              <th>Bomba</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of data">
              <td>
                {{ dayOfWeekAsString(item.timeStamp.day) }}
              </td>

              <td>{{ item.timeStamp.time }}</td>
              <td *ngIf="item.timeStamp.count !== undefined">
                {{ item.timeStamp.count }}
              </td>
              <td *ngIf="item.timeStamp.count === undefined">-</td>
              <td
                *ngIf="item.agua !== undefined"
                [attr.data-order]="item.agua.temperatura"
              >
                {{ item.agua.temperatura | number : "1.0-1" }} °C
              </td>
              <td *ngIf="item.agua === undefined">N/A °C</td>
              <td *ngIf="item.exterior === undefined">N/A °C</td>
              <td
                *ngIf="item.exterior !== undefined"
                [attr.data-order]="item.exterior.temperatura"
              >
                {{ item.exterior.temperatura | number : "1.0-1" }} °C
              </td>
              <td *ngIf="item.exterior === undefined">N/A %</td>
              <td *ngIf="item.exterior !== undefined">
                {{ item.exterior.humedad | number : "1.0-1" }} %
              </td>
              <td *ngIf="item.interior === undefined">N/A °C</td>
              <td
                *ngIf="item.interior !== undefined"
                [attr.data-order]="item.interior.temperatura"
              >
                {{ item.interior.temperatura | number : "1.0-1" }} °C
              </td>
              <td *ngIf="item.interior === undefined">N/A %</td>
              <td *ngIf="item.interior !== undefined">
                {{ item.interior.humedad | number : "1.0-1" }} %
              </td>
              <td *ngIf="item.reles === undefined">N/A</td>
              <td *ngIf="item.reles !== undefined">
                <span *ngIf="item.reles.luz === 'true'">ON</span>
                <span *ngIf="item.reles.luz === 'false'">OFF</span>
              </td>

              <td *ngIf="item.reles !== undefined">
                <span *ngIf="item.reles.bomba === 'true'">ON</span>
                <span *ngIf="item.reles.bomba === 'false'">OFF</span>
              </td>
              <td *ngIf="item.reles === undefined">N/A</td>
              <td *ngIf="item.timeStamp.date !== undefined">
                {{ item.timeStamp.date }}
              </td>
              <td *ngIf="item.timeStamp.date === undefined">N/A</td>
              <td>
                <a
                  (click)="deleteData(item.timeStamp.count)"
                  class="me-1 text-warning pointer"
                >
                  <i class="fas fa-trash pointer"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
