<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Articulos</h1>
      </div>
      <!-- /.col -->

      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Ver articulo {{ producto.descripcion }}</h4>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col">
            <p>Id: {{ producto.id }}</p>
            <p>Interno: {{ producto.cod_interno }}</p>
            <p>Barra: {{ producto.cod_barras }}</p>
            <p>
              Costo Neto:
              {{
                producto.costo_neto
                  | currency : "CLP" : "symbol-narrow" : "1.0-0"
              }}
            </p>
            <p>
              Costo Imp:
              {{
                producto.costo_imp
                  | currency : "CLP" : "symbol-narrow" : "1.0-0"
              }}
            </p>
            <p>
              Costo Total:
              {{
                producto.costo_neto + producto.costo_imp
                  | currency : "CLP" : "symbol-narrow" : "1.0-0"
              }}
            </p>
          </div>
          <div class="col">
            <p>Descripcion: {{ producto.descripcion }}</p>
            <p *ngIf="producto.activo">Estado: activo</p>
            <p *ngIf="!producto.activo">Estado: inactivo</p>
            <p>Stock: {{ producto.stock }}</p>
            <p>
              PVP Neto:
              {{
                producto.venta_neto
                  | currency : "CLP" : "symbol-narrow" : "1.0-0"
              }}
            </p>
            <p>
              PVP Imp:
              {{
                producto.venta_imp
                  | currency : "CLP" : "symbol-narrow" : "1.0-0"
              }}
            </p>
            <p>
              PVP Total:
              {{
                producto.venta_neto + producto.venta_imp
                  | currency : "CLP" : "symbol-narrow" : "1.0-0"
              }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Ver articulo {{ producto.descripcion }}</h4>
      </div>

      <div class="card-body">
        <table
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          class="row-border hover"
          aria-label="Tabla"
        >
          <thead class="table-light">
            <tr>
              <th>Id</th>
              <th>movimiento</th>
              <th>Cantidad</th>
              <th>Fecha</th>
              <th>Usuario</th>
              <th>Ver</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of movimientos">
              <td>{{ item.id }}</td>
              <td>{{ item["tipo_movimiento"] }}</td>
              <td>{{ item["cantidad"] }}</td>
              <td>{{ item["created_at"] }}</td>

              <td>
                {{ item["name"] }}
              </td>
              <td>
                <a
                  [routerLink]="['/home/movimientos/verMovimiento', item.id]"
                  class="btn btn-primary"
                  >Ver</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
