<router-outlet *ngIf="isLogin"></router-outlet>
<body class="hold-transition sidebar-mini layout-fixed" *ngIf="!isLogin">
  <div class="wrapper">
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>

    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
</body>
<ngx-spinner
  bdColor="rgba(0,0,0,0.8)"
  size="medium"
  color="#ffffff"
  type="pacman"
  [fullScreen]="true"
  ><p style="color: white">Cargando...</p></ngx-spinner
>
