<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Ver venta</h1>
      </div>
      <!-- /.col -->

      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Resumen venta</h4>
      </div>
      <div class="card-body">
        <div class="row justify-content-center align-items-center g-2">
          <div class="col">
            <p>ID: {{ idVenta }}</p>
          </div>
          <div class="col">
            <p>Medio de pago: {{ venta.paymentMethod.paymentMethod }}</p>
          </div>
          <div class="col">
            {{ venta.documentType.documentType }}: {{ venta.documentNumber }}
          </div>
          <div class="col">
            <p>
              Fecha:
              {{ venta.createdAt | date : "EEEE dd/MM/yyyy HH:mm" : "UTC" }}
            </p>
          </div>
        </div>
        <div class="row justify-content-center align-items-center g-2">
          <div class="col">
            <p>
              Total neto:
              {{
                venta.TotalNet | currency : "CLP" : "symbol-narrow" : "1.0-0"
              }}
            </p>
          </div>
          <div class="col">
            Total I.V.A.:
            {{ venta.TotalTax | currency : "CLP" : "symbol-narrow" : "1.0-0" }}
          </div>
          <div class="col">
            Total:
            {{
              venta.TotalNet + venta.TotalTax
                | currency : "CLP" : "symbol-narrow" : "1.0-0"
            }}
          </div>
        </div>
        <div class="row justify-content-center align-items-center g-2">
          <div class="col">
            <p>
              Costo neto:
              {{
                venta.TotalNetCost
                  | currency : "CLP" : "symbol-narrow" : "1.0-0"
              }}
            </p>
          </div>
          <div class="col">
            Costo I.V.A.:
            {{
              venta.TotalTaxCost | currency : "CLP" : "symbol-narrow" : "1.0-0"
            }}
          </div>
          <div class="col">
            Total costo:
            {{
              venta.TotalNetCost + venta.TotalTaxCost
                | currency : "CLP" : "symbol-narrow" : "1.0-0"
            }}
          </div>
        </div>
        <div class="row justify-content-center align-items-center g-2">
          <div class="col">
            <p>
              Ganancia:
              {{
                venta.TotalNet +
                  venta.TotalTax -
                  (venta.TotalNetCost + venta.TotalTaxCost)
                  | currency : "CLP" : "symbol-narrow" : "1.0-0"
              }}
            </p>
          </div>
          <div class="col">
            % Ganancia:
            {{
              ((venta.TotalNet +
                venta.TotalTax -
                (venta.TotalNetCost + venta.TotalTaxCost)) /
                (venta.TotalNet + venta.TotalTax)) *
                100 | number : "1.0-2"
            }}
          </div>
          <div class="col">
            Total costo:
            {{
              venta.TotalNetCost + venta.TotalTaxCost
                | currency : "CLP" : "symbol-narrow" : "1.0-0"
            }}
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Resumen venta</h4>
      </div>
      <div class="card-body">
        <table class="table row-border hover">
          <thead>
            <th>Descripcion</th>
            <th>Cantidad</th>
            <th>Precio neto</th>
            <th>Precio I.V.A.</th>
            <th>Precio</th>
            <th>Costo neto</th>
            <th>Costo I.V.A.</th>
            <th>Costo</th>
            <th>Ganancia</th>
            <th>% Ganancia</th>
          </thead>
          <tbody>
            <tr *ngFor="let detalle of detalleVenta">
              <td>
                {{ detalle.product.description }}
              </td>
              <td>
                {{ detalle.quantity }}
              </td>
              <td>
                {{
                  detalle.netSale | currency : "CLP" : "symbol-narrow" : "1.0-0"
                }}
              </td>
              <td>
                {{
                  detalle.taxSale | currency : "CLP" : "symbol-narrow" : "1.0-0"
                }}
              </td>
              <td>
                {{
                  detalle.netSale + detalle.taxSale
                    | currency : "CLP" : "symbol-narrow" : "1.0-0"
                }}
              </td>
              <td>
                {{
                  detalle.netCost | currency : "CLP" : "symbol-narrow" : "1.0-0"
                }}
              </td>
              <td>
                {{
                  detalle.taxCost | currency : "CLP" : "symbol-narrow" : "1.0-0"
                }}
              </td>
              <td>
                {{
                  detalle.netCost + detalle.taxCost
                    | currency : "CLP" : "symbol-narrow" : "1.0-0"
                }}
              </td>
              <td>
                {{
                  detalle.netSale +
                    detalle.taxSale -
                    (detalle.netCost + detalle.taxCost)
                    | currency : "CLP" : "symbol-narrow" : "1.0-0"
                }}
              </td>
              <td>
                {{
                  ((detalle.netSale +
                    detalle.taxSale -
                    (detalle.netCost + detalle.taxCost)) /
                    (detalle.netSale + detalle.taxSale)) *
                    100 | number : "1.0-2"
                }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
