<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Ver venta</h1>
      </div>
      <!-- /.col -->

      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<section class="content">
  <div class="container-fluid" *ngIf="venta">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Resumen venta</h4>
      </div>
      <div class="card-body">
        <div class="row justify-content-center align-items-center g-2">
          <div class="col">
            <p>ID: {{ idVenta }}</p>
          </div>
          <div class="col">
            <p>Medio de pago: {{ venta.medio_pago.medio_de_pago }}</p>
          </div>
          <div class="col">
            {{ venta.tipo_documento.tipo }}: {{ venta.documento }}
          </div>
          <div class="col">
            <p>
              Fecha:
              {{ venta.fecha | date: "EEEE dd/MM/yyyy HH:mm" : "UTC" }}
            </p>
          </div>
        </div>
        <div class="row justify-content-center align-items-center g-2">
          <div class="col">
            <p>
              Total neto: $
              {{ venta.monto_neto | number }}
            </p>
          </div>
          <div class="col">
            Total I.V.A.: $
            {{ venta.monto_imp | number }}
          </div>

          <div class="col">
            Total: $
            {{ venta.monto_neto + venta.monto_imp | number }}
          </div>
        </div>
        <div class="row justify-content-center align-items-center g-2">
          <div class="col">
            <p>
              Costo neto: $
              {{ venta.costo_neto | number }}
            </p>
          </div>
          <div class="col">
            Costo I.V.A.: $
            {{ venta.costo_imp | number }}
          </div>
          <div class="col">
            Total costo: $
            {{ venta.costo_neto + venta.costo_imp | number }}
          </div>
        </div>
        <div class="row justify-content-center align-items-center g-2">
          <div class="col" *ngIf="venta.extraCosts.length > 0">
            Total costo extra: $
            {{ getTotalExtraCosts() | number }}
          </div>
          <div class="col">
            <p>
              Ganancia: $
              {{
                venta.monto_neto +
                  venta.monto_imp -
                  (venta.costo_imp + venta.costo_neto + getTotalExtraCosts())
                  | number
              }}
            </p>
          </div>
          <div class="col">
            % Ganancia:
            {{
              ((venta.monto_neto +
                venta.monto_imp -
                (venta.costo_neto + venta.costo_imp + getTotalExtraCosts())) /
                (venta.monto_neto + venta.monto_imp)) *
                100 | number: "1.0-2"
            }}
          </div>
        </div>
        <div
          class="row justify-content-center align-items-center g-2"
          *ngIf="venta.extraCosts.length > 0"
        >
          @for (item of venta.extraCosts; track $index) {
            <div class="col">
              {{ item.costo_extra.name }}: ${{ item.monto | number }}
            </div>
          }
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Detalle venta</h4>
      </div>
      <div class="card-body">
        <app-simple-table
          [data]="detalleVenta"
          [columns]="columns"
          [pageSize]="10"
          [showSearch]="true"
          [showPagination]="true"
          [showActions]="true"
          [showViewButton]="true"
          [showEditButton]="false"
          [showDeleteButton]="false"
          [emptyMessage]="'No hay detalles de venta'"
          (onView)="onViewArticulo($event)"
        ></app-simple-table>
      </div>
    </div>
  </div>
</section>
