<div class="card">
  <div class="card-header">
    <h4 class="card-title">Productos</h4>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" (click)="getProducts('')">
        <i class="fas fa-sync-alt"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="productForm" (submit)="addProduct()" class="form">
      <div class="form-group">
        <ng-select
          formControlName="id"
          id=""
          name=""
          bindValue="id"
          placeholder="Seleccione un producto"
          [items]="products"
          (change)="onChangeProduct()"
          (search)="onSearch($event.term)"
          [searchable]="true"
          [typeahead]="searchTerm"
          required
        >
          <ng-template ng-label-tmp let-item="item">
            {{ item.descripcion }} {{ item.cod_interno }} {{ item.cod_barras }}
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
            {{ item.descripcion }} {{ item.cod_interno }} -
            {{ item.cod_barras }}
          </ng-template>
        </ng-select>
      </div>
      <div class="form-group">
        <span class="form-group-text">Cantidad</span>
        <input
          type="number"
          min="1"
          class="form-control"
          formControlName="quantity"
        />
      </div>
      <div class="form-group">
        <span class="form-group-text">Precio</span>
        <input
          type="number"
          min="1"
          class="form-control"
          formControlName="price"
        />
      </div>
      <div class="form-group">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="addProduct()"
        >
          Agregar <i class="fa-solid fa-add"></i>
        </button>
      </div>
    </form>
  </div>
</div>
