<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Issues</h1>
      </div>
      <!-- /.col -->

      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Listado de Issues</h4>
        <div class="card-tools">
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="collapse"
          >
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>

      <div class="card-body">
        <a [routerLink]="['create']" class="btn btn-primary">Agregar issue</a>
        <table
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          class="row-border hover"
          aria-label="Tabla"
        >
          <thead class="table-light">
            <tr>
              <th>Id</th>
              <th>issue</th>
              <th>Seccion</th>
              <th>Tipo</th>
              <th>Status</th>
              <th>Creado</th>
              <th>Editado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of issues">
              <td>{{ item.id }}</td>
              <td>{{ item["title"] }}</td>
              <td>{{ item.issueSection.section }}</td>
              <td>{{ item.issueType.type }}</td>
              <td>{{ item.issueStatus.status }}</td>
              <td>
                {{ item["createdAt"] | date : "EE dd-MM-yy HH:mm" : "UTC -3" }}
              </td>
              <td>
                {{ item["updatedAt"] | date : "EE dd-MM-yy HH:mm" : "UTC -3" }}
              </td>
              <td>
                <a
                  routerLink="editar/{{ item['id'] }}"
                  class="me-1 text-success pointer"
                >
                  <i class="fas fa-edit"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Resumen de Issues</h4>
        <div class="card-tools">
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="collapse"
          >
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>

      <div class="card-body">
        <h5>Status</h5>
        <div class="row">
          <div class="col-md-2 col-sm-4 col-6" *ngFor="let Status of status">
            <div class="info-box">
              <div class="info-box-content">
                <span class="info-box-text">{{ Status.status }}</span>
                <span class="info-box-number">{{ Status.count }}</span>
              </div>
            </div>
          </div>
        </div>
        <h5>Secciones</h5>
        <div class="row">
          <div class="col-md-2 col-sm-4 col-6" *ngFor="let sec of section">
            <div class="info-box">
              <div class="info-box-content">
                <span class="info-box-text">{{ sec.section }}</span>
                <span class="info-box-number">{{ sec.count }}</span>
              </div>
            </div>
          </div>
        </div>
        <h5>Tipo</h5>
        <div class="row">
          <div class="col-md-2 col-sm-4 col-6" *ngFor="let tip of type">
            <div class="info-box">
              <div class="info-box-content">
                <span class="info-box-text">{{ tip.type }}</span>
                <span class="info-box-number">{{ tip.count }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
