<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Issues</h1>
      </div>
      <!-- /.col -->

      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Listado de Issues</h4>
        <div class="card-tools">
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="collapse"
          >
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-9">
            <div class="row">
              <a [routerLink]="['create']" class="btn btn-primary"
                >Agregar issue</a
              >

              <select
                id="statusSelect"
                class="form-control"
                style="width: 100px; margin-left: 25px"
                (change)="changeStatus()"
              >
                <option value="all">Todos</option>
                <option value="pending" selected>Pendientes</option>
              </select>
            </div>
          </div>
          <div class="col-2">
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Buscar"
                [(ngModel)]="searchTerm"
                (keyup)="search()"
              />
            </div>
          </div>
          <div class="col-1 me-3">
            <button
              class="btn btn-primary"
              [disabled]="!searchTerm"
              (click)="search()"
            >
              Buscar
            </button>
          </div>
        </div>

        <!-- Properties Table -->
        <table
          #propertiesTable
          datatable
          [dtOptions]="dtOptions"
          class="row-border hover"
          [dtTrigger]="dtTrigger"
          id="properties-table"
        >
          <thead>
            <tr>
              <th class="fw-bold fs-14">Id</th>
              <th class="fw-bold fs-14">issue</th>
              <th class="fw-bold fs-14">Seccion</th>
              <th class="fw-bold fs-14">Tipo</th>
              <th class="fw-bold fs-14">Status</th>
              <th class="fw-bold fs-14">Creado</th>
              <th class="fw-bold fs-14">Editado</th>
              <th class="fw-bold fs-14">Acciones</th>
            </tr>
          </thead>
        </table>
        <!-- <table
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          class="row-border hover"
          aria-label="Tabla"
        >
          <thead class="table-light">
            <tr>
              <th>Id</th>
              <th>issue</th>
              <th>Seccion</th>
              <th>Tipo</th>
              <th>Status</th>
              <th>Creado</th>
              <th>Editado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of issues">
              <td>{{ item.id }}</td>
              <td>{{ item.issue }}</td>
              <td>{{ item.issueSection.name }}</td>
              <td>{{ item.issueType.issue_type }}</td>
              <td>{{ item.issueStatus.name }}</td>
              <td [attr.data-order]="item['createdAt']">
                {{ item["createdAt"] | date : "EE dd-MM-yy HH:mm" : "UTC -3" }}
              </td>
              <td [attr.data-order]="item['updatedAt']">
                {{ item["updatedAt"] | date : "EE dd-MM-yy HH:mm" : "UTC -3" }}
              </td>
              <td>
                <a
                  routerLink="editar/{{ item['id'] }}"
                  class="me-1 text-success pointer"
                >
                  <i class="fas fa-edit"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table> -->
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Resumen de Issues</h4>
        <div class="card-tools">
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="collapse"
          >
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>

      <div class="card-body">
        <h5>Status</h5>
        <div class="row">
          <div class="col-md-2 col-sm-4 col-6" *ngFor="let Status of status">
            <div class="info-box">
              <div class="info-box-content">
                <span class="info-box-text">{{ Status.name }}</span>
                <span class="info-box-number">{{ Status.count }}</span>
              </div>
            </div>
          </div>
        </div>
        <h5>Secciones</h5>
        <div class="row">
          <div class="col-md-2 col-sm-4 col-6" *ngFor="let sec of section">
            <div class="info-box">
              <div class="info-box-content">
                <span class="info-box-text">{{ sec.name }}</span>
                <span class="info-box-number">{{ sec.count }}</span>
              </div>
            </div>
          </div>
        </div>
        <h5>Tipo</h5>
        <div class="row">
          <div class="col-md-2 col-sm-4 col-6" *ngFor="let tip of type">
            <div class="info-box">
              <div class="info-box-content">
                <span class="info-box-text">{{ tip.name }}</span>
                <span class="info-box-number">{{ tip.count }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
