<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Agregar recepcion</h1>
      </div>
      <!-- /.col -->

      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<section class="content" style="padding: 15px">
  <div class="row">
    <div class="col-7">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Detalle de la recepcion</h4>
        </div>
        <div class="card-body">
          <table class="table" *ngIf="productsCart.length !== 0">
            <thead>
              <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Neto</th>
                <th>IVA</th>
                <th>Unitario</th>
                <th>Total</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of productsCart">
                <td>
                  {{ item.descripcion }}
                  <span *ngIf="item.deprecado" class="badge badge-warning ml-2"
                    >⚠️ Deprecado</span
                  >
                </td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.costo_neto | number : "1.0-0" }}</td>
                <td>{{ item.costo_imp | number : "1.0-0" }}</td>
                <td>
                  {{ item.costo_neto + item.costo_imp | number : "1.0-0" }}
                </td>
                <td>
                  {{
                    item.quantity * (item.costo_neto + item.costo_imp)
                      | number : "1.0-0"
                  }}
                </td>
                <td>
                  <button
                    class="btn btn-danger btn-sm"
                    (click)="removeProduct(item)"
                  >
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>
      </div>
      <div class="card">
        <!-- row number 1 -->
        <div class="card-body">
          <div class="row justify-cont">
            <!-- Total -->
            <div class="col-4">
              <div class="input-group">
                <span class="input-group-text">Total</span>
                <input
                  type="number"
                  class="form-control"
                  value="{{ total | number : '1.0-0' }}"
                  disabled
                />
              </div>
            </div>
            <div class="col-2"></div>
            <!-- Save and cancel buttons -->
            <div class="col">
              <button
                class="btn btn-outline-danger"
                type="button"
                (click)="cancel()"
              >
                Cancelar <i class="fas fa-ban"></i>
              </button>
            </div>
            <!-- Pay button -->
            <div class="col">
              <button
                class="btn btn-outline-primary"
                type="button"
                [disabled]="!canSell()"
                (click)="changeFunctionalityToPayment()"
              >
                Agregar <i class="far fa-check-circle"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5">
      <app-producto
        *ngIf="sidePanel === 'Productos'"
        [type]="'Recepcion'"
        (productChange)="addProduct($event)"
      ></app-producto>
      <app-finaliza-recepcion
        *ngIf="sidePanel === 'Finalizar'"
        [productsCart]="productsCart"
      ></app-finaliza-recepcion>
    </div>
  </div>
</section>
