<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Issues</h1>
      </div>
      <!-- /.col -->

      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{{ title }}</h4>
      </div>

      <div class="card-body">
        <form
          [formGroup]="issueForm"
          (submit)="onSubmit()"
          method="post"
          action=""
        >
          <div class="form-group col-lg-4">
            <label for="name">Issue</label>
            <input
              type="text"
              [ngClass]="isValidField('issue') ? 'is-invalid' : ''"
              class="form-control"
              id="issue"
              name="issue"
              placeholder="Issue"
              formControlName="issue"
              required
            />
            <div *ngIf="isValidField('issue')" class="invalid-feedback">
              El issue es requerido
            </div>
          </div>
          <div class="form-group col-lg-4">
            <!-- Select issue status-->
            <label for="id_status">Status</label>
            <select
              class="form-control"
              id="id_status"
              name="id_status"
              formControlName="id_status"
              required
              [ngClass]="isValidField('id_status') ? 'is-invalid' : ''"
            >
              <option value="">Seleccione un status</option>
              <option *ngFor="let status of issueStatus" [value]="status.id">
                {{ status.name }}
              </option>
            </select>
            <div *ngIf="isValidField('id_status')" class="invalid-feedback">
              El estatus es requerido
            </div>
          </div>
          <div class="form-group col-lg-4">
            <!-- Select issue type-->
            <label for="id_type">Tipo</label>
            <select
              class="form-control"
              id="id_type"
              name="id_type"
              formControlName="id_type"
              required
              [ngClass]="isValidField('id_type') ? 'is-invalid' : ''"
            >
              <option value="">Seleccione un tipo</option>
              <option *ngFor="let type of issueType" [value]="type.id">
                {{ type.issue_type }}
              </option>
            </select>
            <div *ngIf="isValidField('id_type')" class="invalid-feedback">
              El tipo es requerido
            </div>
          </div>
          <div class="form-group col-lg-4">
            <!-- Select issue section-->
            <label for="id_section">Seccion</label>
            <select
              class="form-control"
              id="id_section"
              name="id_section"
              formControlName="id_section"
              required
              [ngClass]="isValidField('id_section') ? 'is-invalid' : ''"
            >
              <option value="">Seleccione una seccion</option>
              <option *ngFor="let section of issueSection" [value]="section.id">
                {{ section.name }}
              </option>
            </select>
            <div *ngIf="isValidField('id_section')" class="invalid-feedback">
              La seccion es requerida
            </div>
          </div>

          <div class="form-group col-lg-4">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
