<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Usuarios</h1>
      </div>
      <!-- /.col -->

      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Listado de usuarios</h4>
      </div>

      <div class="card-body">
        <a [routerLink]="['create']" class="btn btn-primary">Agregar usuario</a>
        <table
          datatable
          [dtOptions]="dtOptions"
          class="table mt-2 ms-0 text-align-center row-border hover"
          aria-label="Tabla"
        >
          <thead class="table-light">
            <tr>
              <th>Id</th>
              <th>Nombre</th>
              <th>User</th>
              <th>Activo</th>
              <th>Creado</th>
              <th>Editado</th>
              <th>Editar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of users">
              <td>{{ item["id"] }}</td>
              <td>{{ item["name"] }}</td>
              <td>{{ item["user"] }}</td>
              <td *ngIf="item['active']">Activo</td>
              <td *ngIf="!item['active']">Inactivo</td>
              <td>
                {{ item["created_at"] || date | date : "dd/MM/yyyy HH:mm" }}
              </td>
              <td>
                {{ item["updated_at"] || date | date : "dd/MM/yyyy HH:mm" }}
              </td>
              <td>
                <a class="me-1 text-success pointer"
                  >Editar <i class="fas fa-edit"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
